domain: bigbang.dev

# Uncomment the following settings if using the AWS RKE2 terraform setup
# istio:
#   ingressGateways:
#     public-ingressgateway:
#       type: "NodePort"
#       nodePortBase: 30000

flux:
  interval: 1m
  rollback:
    cleanupOnFail: false

kiali:
  enabled: false

istio:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/core/istio-controlplane.git
    tag: "1.17.2-bb.0"
    path: "./chart"
  enabled: true

istioOperator:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/core/istio-operator.git
    tag: "1.17.2-bb.0"
    path: "./chart"
  enabled: true

monitoring:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/core/monitoring.git
    tag: "43.1.2-bb.4"
    path: "./chart"
  enabled: true
  values:
    prometheus:
      prometheusSpec:
        resources:
          requests:
            cpu: 200m
            memory: 1Gi

loki:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/loki.git
    tag: "5.0.0-bb.1"
    path: "./chart"
  enabled: true
  strategy: scalable
  values:
    minio:
      enabled: true
    write:
      replicas: 1
      persistence:
        size: 2Gi
      resources:
        limits:
          cpu: 200m
          memory: 400Mi
        requests:
          cpu: 200m
          memory: 400Mi
    read:
      replicas: 1
      persistence:
        size: 2Gi
      resources:
        limits:
          cpu: 200m
          memory: 400Mi
        requests:
          cpu: 200m
          memory: 400Mi

promtail:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/promtail.git
    tag: "6.10.0-bb.0"
    path: "./chart"
  enabled: true

kyverno:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/kyverno.git
    tag: "2.6.5-bb.3"
    path: "./chart"
  enabled: true
  values:
    replicaCount: 1

kyvernoPolicies:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/kyverno-policies.git
    tag: "1.1.0-bb.5"
    path: "./chart"
  enabled: true
  # values:
  #   exclude:
  #     any:
  #     # Allows k3d load balancer to bypass policies.
  #     - resources:
  #         namespaces:
  #         - istio-system
  #         names:
  #         - svclb-*
  #   policies:
  #     restrict-host-path-mount-pv:
  #       parameters:
  #         allow:
  #         - /tmp/allowed
  #         - /var/lib/rancher/k3s/storage/pvc-*

neuvector:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/neuvector.git
    tag: "2.4.3-bb.0"
    path: "./chart"
  enabled: true
  values:
    k3s:
      enabled: true

addons:
  metricsServer:
    git:
      repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/metrics-server.git
      tag: "3.9.0-bb.0"
      path: "./chart"
    enabled: auto

  minioOperator:
    enabled: true # Minio Operator is required for Loki in default core
